@media (min-width: 992px) {

	.menubar {
		min-width: 992px;
	}

}

@media (min-width: 768px) {

	.navbar-toggle {
		position: relative;
		right: 50px;
		margin-top: 50px;
		margin-right: -22%;
	}

	.menu-vertical {
		margin-top: 35px;
		margin-left: -20%;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	.logo {
		background-image: url(../img/logo-yellow.png);
		/*background-image: url(../img/logo-color.png);*/
		background-size: 93.5px 107.95px;
		background-repeat: no-repeat;
		height: 109.95px;
		width: 98.5px;
		margin-left: -15%;
		/*position: fixed;*/
	}

}

@media (max-width: 991px) {

	.menu ul {
		float: right;
		position: absolute;
		right: 100px;
	}

	.menu-vertical > ul > li > a {
		color: #ffffff;
	}

	.subscribe {
		position: relative;
		float: left;
		margin: 20px;
	}

	.contact-us {
		position: relative;
		float: left;
		margin: 20px;
	}

}

@media (max-width: 767px) {

	.navbar-toggle {
		position: relative;
		right: 50px;
		margin-top: 37px;
		margin-right: -10px;
	}

	.navbar-flat {
		width: 100%;
		height: 110px;
		background: #221F20;
		z-index: 2000;
		position: absolute;
		-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	}

	.menubar {
		width: 100%;
		min-width: 176px;
	}

	.carousel-up {
		padding-top: 110px;
	}

	.menu-active {
		height: 400px;
	}

	.dropdown-menu {
		left: 15px;
	}

	#toggle-button {
		float: right;
		right: 40px;
		margin-top: -10px;
		position: absolute;
	}

	.logo {
		/*background-image: url(../img/logo-color.png);*/
		background-image: url(../img/logo-yellow.png);
		background-size: 73px 84px;
		background-repeat: no-repeat;
		height: 90px;
		width: 78px;
		left: 40px;
		margin-top: 12px;
		position: absolute;
	}

	.menu-vertical {
		/*margin-top: 30px;*/
		margin-left: -15px;
	}

	.menu-vertical ul {
		padding-top: 130px;
		list-style: none;
	}

	.menu-vertical > ul > li {
		padding:13px 0px 13px 20px;
		margin:0;
	}

	.menu-vertical > ul > li > a {
		color: #ffffff;
	}

	.prevbut {
		height: 500px;
		margin-top: 110px;
	}

	.nextbut {
		height: 500px;
		margin-top: 110px;
	}

	#contact-us-section {
		padding-top: 100px;
	}

	#register-section {
		padding-top: 100px;
	}

}